/*-------------------------------------
 * VARIABLES - PROJECT WIDE
/-------------------------------------*/

// Main colors
$pwh-red: #59090a;
$pwh-beige: #eee0b8;
$pwh-grey: #14100f;
$white: #ffffff;

// Main Font
$main-font: 'Merriweather Sans', sans-serif;
$heading-font: 'Anton', sans-serif;
$heading-weight: 700;
$subheading-weight: 500;
$body-weight: 300;

// Sizing Variables

// Spacing Variables
$pwh-padding-xs: 10px;
$pwh-padding-sm: 20px;
$pwh-padding-md: 25px;
$pwh-padding-lg: 45px;

// Button Variables

// Radius Variables
$standard-radius: 4px;
